@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
/* font */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

a {
  color: #fff;
}

body {
  font-family: "Poppins";
}

/* header */

header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #111;
  padding: 1rem 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.links-container {
  gap: 15px;
  display: flex;
}

.links {
  color: #fff;
}

/* hero */

.hero-container {
  background: rgb(6, 136, 113);
  background: linear-gradient(
    45deg,
    rgba(6, 136, 113, 1) 0%,
    rgba(0, 0, 0, 1) 100%
  );
}

.hero {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  max-width: 85vw;
  height: 100vh;
  margin: 0 auto;
  margin-top: 2rem;
  padding: 1rem;
}

.hero__title_container {
  width: 60%;
}

.hero__title {
  color: white;
  font-size: 5rem;
  font-weight: 600;
}

.hero__title_container p {
  font-size: 1.2rem;
  color: #fff;
  font-weight: 300;
  width: 75%;
}

.lata {
  width: 15rem;
}

/* about */

.section {
  background-color: rgb(23, 24, 24);
  border-bottom: 3px solid black;
  color: #fff;
}

.about-container {
  position: relative;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: start;
  height: 60vh;
}

.about {
  display: flex;
  flex-flow: column wrap;
  justify-content: start;
  align-items: center;
  gap: 10px;
  max-width: 65%;
  text-align: center;
  padding: 3rem;
}

.about h1 {
  font-size: 3.5rem;
}

.about p {
  font-size: 1.2rem;
}

.zombie {
  position: absolute;
  right: 5rem;
  bottom: 0;
  width: 20rem;
}

/* animaciones */

@media only screen and (max-width: 480px) {
  
  .hero__title_container p {
    font-size: 1.2rem;
    width: 95%;
  }
  .hero__title {
    font-size: 3rem;
  }
  .lata {
    width: 8rem;
  }
  .about-container {
    height: 90vh;
  }
  .about h1 {
    font-size: 2rem;
  }

  .about p {
    font-size: 1.2rem;
  }
  .zombie {
    width: 10rem;
    right: 0;
  }
}

@media only screen and (min-width: 481px) and (max-width: 767px) {
  .lata {
    width: 10rem;
  }

  .about-container {
    height: 90vh;
  }
  
  .about h1 {
    font-size: 2rem;
  }

  .about p {
    font-size: 1.2rem;
  }
  .zombie {
    width: 15rem;
    right: 0;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .zombie {
    width: 15rem;
    right: 0;
  }
}

@keyframes float {
  0% {
    transform: translateY(0rem) rotate(20deg);
  }
  50% {
    transform: translateY(-2.5rem) rotate(20deg);
  }
  100% {
    transform: translateY(0rem) rotate(20deg);
  }
}
